<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merqurius" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".book.details.BookDetailsScreen"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".home.HomeScreen"
            android:label="Home" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".collections.CollectionsScreen"
            android:label="Collections" >
            </activity>
        <activity android:name=".search.SearchScreen"
            android:label="Search" >
            </activity>
        <activity android:name=".search.SearchResultsScreen"
            android:label="Search Results" >
        </activity>
    </application>

</manifest>
